body {
    font-family: Young-Serif
}
/* .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    background-color: bisque; 
    
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff7fc;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 95%;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}


@media screen and (max-width: 992px) {
    .tablet {
      
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .phone {
      
    }
  }
  

  @media screen and (max-width: 576px) {
    .smaller {
      
    }
  }

